/**
* background color - white
* text color - black
* primary color - #937cfb
* primary text color - black
* primary highlight color - #5f4fc7
* secondary color - #03dac5
* secondary text color - white
**/

form {
    margin: 10px;
    padding: 10px 20px;
    position: relative;
    text-align: left;
}

label {
    display: block;
    margin-top: 10px;
}

label, input, textarea {
    margin-left: inherit;
}

input {
    width: 50%;
}

input, textarea {
    min-height: 25px;
    border-radius: 5px;
    padding-left: 5px;
    background-color: floralwhite;
}

input:focus, textarea:focus {
    border-color: #03dac5;
}

textarea {
    min-height: 100px;
    width: 85%;
    overflow-y: hidden;
}

#send, #reset {
    width: 127px;
    height: 38px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    display: inline-block;
    background-color: #BEBEBE
}

#send {
    position: absolute;
    right: 32px;
    bottom: 10px;
}

.contact h3 {
    text-align: center;
}

.card {
    min-height: 240px;
}

@media screen and (max-width: 600px) {
    #send {
    position: initial;
    }

    #send, #reset {
        width: 100%;
    }
  }