# Define the location of php.ini file
suPHP_ConfigPath /home/gameneti/public_html

RewriteOptions inherit
#php_value display_errors On
#php_flag magic_quotes 1
#php_flag magic_quotes_gpc 1
#php_value mbstring.http_input auto
#php_value date.timezone Europe/London

# Turn on the rewriting engine
RewriteEngine On
RewriteCond %{ENV:HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
RewriteRule ^([a-zA-Z0-9_-]+)-([a-zA-Z0-9_-]+)$ profile.php?firstname=$1&lastname=$2
RewriteRule ^([a-zA-Z0-9_-]+)-([a-zA-Z0-9_-]+)/$ profile.php?firstname=$1&lastname=$2

Options +Indexes
IndexOptions +FancyIndexing
